<%= turbo_frame_tag "quiz_form" do %>
<%= form_with(model: Question.new, class: "contents") do |form| %>

  <section class="bg-red-100 flex flex align-center items-center w-full bg-gray-50 shadow overflow-hidden sm:rounded-md flex justify-around item-center no-underline hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50">
    <div class="my-1 flex items-center gap-2">
    <%= form.label :question %>
    <%= form.text_area :question, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-2 flex items-center gap-2">
    <%= form.label :answer %>
    <%= form.text_area :answer,  class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
  </div>
  </section>

  <div class="my-5 hidden">
    <%= form.label :quiz_id %>
    <%= form.collection_select :quiz_id, [@quiz], :id, :title, { value: :id }, selected: :id, class: "border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none" %>
  </div>


<% end %><% end %>
