<section class=" w-full">
  <div class="flex flex-col w-4/12 bg-blue-400">
    <div class="">
      <div class="flex justify-between items-center gap-5">
        <h2><strong>Channels</strong></h2>
        <%= link_to "Create Channel", new_channel_path %>
      </div>
      <ul class="flex flex-col gap-1 glass">
        <%== pagy_bootstrap_nav(@pagy) %>

        <% @channels.each do |channel| %>
          <%= render '/channels/list_channel', local: { channel: channel}  %>
        <% end %>
      </ul>


    </div>

    <hr />

    <div class="flex justify-between items-center gap-5 mt-12">
      <h2><strong>Users</strong></h2>
    </div>
    <div class="h-42 w-full overflow-hidden flex flex-wrap gap-3">
    <% @channel.users.each do |user| %>
      <div class="bg-indigo-300 hover:bg-purple-700 rounded-full flex w-40 h-16 gap-5 align-center">
        <%= render 'shared/Components/avatar', content: { user: user, path: user_path(user.id) } %>
      </div>
    <% end %>
    </div>


    <div class="">
      <% if current_user.channels.include?(@channel) %>

      <% else %>
        <div class="btn btn-primary w-full ">
          <%= link_to "Join #{@channel.name}", channel_channel_user_path(@channel), class: "", method: :post %>
        </div>
      <% end %>
    </div>
  </div>
</section>

