<section class="flex  w-full bg-gray-50">
  <div class="flex flex-col w-2/6 ">
    <div class="">
      <div class="flex justify-between items-center gap-5">
        <h2><strong>Channels</strong></h2>
        <%= link_to "Create Channel", new_channel_path %>
      </div>
      <ul class="flex flex-col gap-1 glass">
        <%#= paginate @channels %>

        <% @channels.each do |channel| %>
          <%= render '/channels/list_channel', local: { channel: channel}  %>
        <% end %>
      </ul>


    </div>

    <div class="divider"></div>

    <div class="">
      <% if current_user.channels.include?(@channel) %>
        <%= form_with model: [@channel, Message.new] do |form| %>
          <%= form.rich_text_area :body, class: 'form-control' %>
          <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
        <% end %>
      <% else %>
        <div class="btn btn-primary w-full ">
          <%= link_to "Join #{@channel.name}", channel_channel_user_path(@channel), class: "", method: :post %>
        </div>
      <% end %>
    </div>

    <div class="divider"></div>

    <div class="flex justify-between items-center gap-5 mt-12">
      <h2><strong>Users</strong></h2>
    </div>

    <%= render 'shared/Components/avatar_group_sm', users: @channel.users  %>
  </div>

  <div class="w-full bg-green-100 rounded-xl ml-5">
    <% @channel.messages.each do |message| %>
      <div>
      <strong><%= message.user.name %></strong>
      <%= message.body %>
      </div>
    <% end %>
  </div>
</section>

