<div id="<%= dom_id user %>" class="w-screen">
  <section class="flex-auto justify-center bg-blue-100 w-8/12 p-5 rounded-lg">
    <div class="flex bg-white items-center space-between justify-around flex-wrap">

      <div>
      <% if user.updated_at > 2.minutes.ago %>
        <i class="fas fa-circle text-green-400 absolute "></i>
      <% else %>
        <i class="fas fa-circle text-red-500 absolute"></i>
      <% end %>

      <% if user.image.attached? %>
        <%= image_tag user.image, width: 200, class: 'inline-block h-14 w-14 rounded-full object-cover m-1' %>
      <% else %>
        <%= image_tag 'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png', width: 200, class: 'inline-block h-14 w-14 rounded-full object-cover m-1' %>
      <% end %>
      </div>

      <p class="my-5">
        <strong class="block font-medium mb-1">Name:</strong>
        <%= user.name %>
      </p>



      <p class="my-5">
        <strong class="block font-medium mb-1">Email:</strong>
        <%= user.email %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Dob:</strong>
        <% if defined?(user.dob) %>
          <%= user.dob %>
      <% end %>
    </div>

    <% if action_name != "show" %>
      <%= link_to "Show this user", user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit this user', edit_user_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>

  </section>
</div>
