<% if !course.isarchived? || (admin) %>
  <div class=" md:max-w-2xl flex items-center flex-wrap w-full px-4 py-10 bg-cover  bg-base-200 glass max-h-48" style="background-image:url(https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1129&q=80/1000/300)">
    <div class="flex-col md:flex-row flex-wrap card glass card-side text-neutral-content w-full justify-around h-36 md:h-42">
      <!--      COURSE IMAGE-->
      <figure class="p-2  h-24 w-24">
        <% if course.cover_image.attached? %>
          <%= image_tag course.cover_image, class: ' h-24 md:h-48 md:w-48  object-cover ' %>
        <% else %>
          <img src="https://images.unsplash.com/photo-1576872381149-7847515ce5d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=200" class="rounded-lg shadow-lg  h-24 md:w-48">
        <% end %>
      </figure>

      <!--      CONTENTS-->
      <article class="flex flex-col w-full h-full justify-start overflow-hidden ">
        <div class="max-w-md card-body w-full  h-24 ">
          <h2 class="card-title"><%= course.title %></h2>
          <div class="truncate h-12 invisible md:visible"><%= course.contents %></div>
        </div>
      </article>

    </div>

    <!--    TAGS-->
    <div class="absolute top-0 right-0 flex mt-3 mr-12 gap-1">
      <% if course.isarchived? %>
        <div class="badge badge-primary">Archived</div>
      <% end %>
      <% if course.Ispremium? %>
        <div class="badge badge-secondary">Premium</div>
      <% end %>
      <% if course.created_at.between?(((Date.today - 14.days).beginning_of_day),(Date.today.end_of_day)) %>
        <div class="badge badge-accent">New</div>
      <% elsif  course.updated_at.between?(((Date.today - 14.days).beginning_of_day),(Date.today.end_of_day)) %>
        <div class="badge badge-accent">Recently Updated</div>
      <% end %>
    </div>

    <!--    BUTTONS-->
    <div class="inline-flex   justify-start align-start gap-1 md:gap-3 h-10 absolute bottom-0 right-0 align-end  md:mr-12  overflow-hidden">
      <div class="card-actions">
        <%= link_to "See More", link, class: " shadow-2xl  btn glass rounded-full h-10 " %>
      </div>

      <div class="bg-indigo-300 hover:bg-purple-700 rounded-full flex w-40 h-10 gap-5 align-center">
        <%= render 'shared/Components/avatar', content: { user: course.user, path: user_path(course.user.id) } %>
      </div>
    </div>
  </div>
<% end %>