
<!--NEW NEW NEW NEW NEW NEW NEW -->


<% if !course.isarchived? or @current_user.has_role? :admin %>
  <div class="relative p-2 md:p-8 bg-gradient-to-r from-purple-400 via-pink-500 to-yellow-500 min-w-full">
    <div class="relative rounded overflow-hidden shadow-lg rounded-b-md fd-cl p-5 bg-white">
      <div id="<%= dom_id course %>">
        <div class="flex justify-between">
          <%= render 'shared/Components/avatar', content: { user: course.user, path: user_path(course.user.id) } %>
          <div class="font-black">Created: <%= course.created_at.to_date.strftime("%h %d") %></div>
          <div class="font-black">Updated: <%= course.updated_at.to_date.strftime("%h %d") %></div>
        </div>
        <p class="my-5">
          <strong class="block text-5xl font-black mb-1"><%#= course.title %></strong>
        </p>
        <!--    TAGS-->
        <div class="absolute top-0 right-0 flex mt-3 mr-12 gap-1">
          <% if course.isarchived? %>
            <div class="badge badge-primary">Archived</div>
          <% end %>
          <% if course.Ispremium? %>
            <div class="badge badge-secondary">Premium</div>
          <% end %>
          <% if course.created_at.between?(((Date.today - 14.days).beginning_of_day),(Date.today.end_of_day)) %>
            <div class="badge badge-accent">New</div>
          <% elsif  course.updated_at.between?(((Date.today - 14.days).beginning_of_day),(Date.today.end_of_day)) %>
            <div class="badge badge-accent">Recently Updated</div>
          <% end %>
        </div>
        <!--      COURSE IMAGE-->
        <section class="flex flex-wrap overflow-hidden ">
          <div class="w-3/12 overflow-hidden ">
            <div class="flex flex-wrap justify-center">
              <div class="px-4">
                <% if course.cover_image.attached? %>
                  <img src="https://images.unsplash.com/photo-1576872381149-7847515ce5d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=200" alt="..." class="shadow rounded-full max-w-full h-auto align-middle border-none" />
                <% else %>
                  <img src="https://images.unsplash.com/photo-1576872381149-7847515ce5d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=200" class="shadow rounded-full max-w-full h-auto align-middle border-none">
                <% end %>
              </div>
            </div>
          </div>
          <div class="w-9/12 overflow-hidden">
            <div class="max-h-24">
              <a href="<%= course_path(course.id) %>"><strong class="block text-5xl font-black mb-1 mb-2 hover:text-violet-500"><%= course.title %></strong></a>
              <span class="overflow-ellipsis overflow-hidden"><%= course.contents %></span>
            </div>
          </div>
          <!--        END COURSE IMAGE-->

        </section>
        <% if action_name != "show" %>
          <%= link_to "See More", link, class: "absolute bottom-0 left-0 mb-1 ml-12 inline-flex items-center px-3 py-2 border border-transparent text-lg leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          <hr class="mt-6">
        <% end %>
      </div>
    </div>
  </div>
<% end %>