

<div class="flex items-center w-full px-4 py-10 bg-cover card bg-base-200 " style="background-image:url(https://images.unsplash.com/photo-1541862397110-97da58638eb3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1042&q=80/1000/300)">
  <div class="card glass card-side text-neutral-content w-10/12 flex justify-around h-48">
    <figure class="p-2 w-96 mask mask-squircle ">
      <% if course.cover_image.attached? %>
        <%= image_tag course.cover_image, class: 'h-48 w-48  object-cover ' %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1576872381149-7847515ce5d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=200" class="rounded-lg shadow-lg">
      <% end %>
    </figure>

    <article class="flex flex-col w-full h-full justify-start overflow-hidden">
      <div class="max-w-md card-body w-full  h-24 ">
        <h2 class="card-title"><%= course.title %></h2>
        <div class="truncate h-12"><%= course.contents %></div>
      </div>



    </article>

  </div>
  <div class="flex justify-end gap-3 h-16 absolute bottom-0 right-0 align-end mb-3">

    <div class="card-actions">
      <%= link_to "See More", link, class: "shadow-2xl  btn glass rounded-full h-16" %>
    </div>

    <div class="shadow-2xl  btn glass rounded-full h-16 ">
      <%= render 'shared/Components/avatar', content: { user: course.user, path: user_path(course.user.id) } %>
    </div>
  </div>
</div>