<div id="<%= dom_id course %>" class="p-5 bg-gradient-to-r from-purple-400 via-pink-500 to-yellow-500 min-w-full">
  <div class="rounded overflow-hidden shadow-lg rounded-b-md fd-cl p-5 bg-white">
    <h1 class="text-4xl w-full flex justify-center pb-12">
      <%= course.title %>
    </h1>
    <p class="my-5 text-center ">
      <%= course.contents %>
    </p>
    <div class="flex flex-wrap justify-between">
      <div class="border-2 border-purple-300 bg-blue-500 drop-shadow-xl hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50 w-max  px-5 rounded-xl my-2">
        <%= render 'shared/Components/avatar', content: { user: course.user, path: user_path(course.user.id) } %>
      </div>
      <div class="relative btn btn-primary btn-wide mt-1 flex flex-col gap-2">
        <% if @current_user.enrolled?(@current_user.id, @course.id) %>
          <%= link_to "Unenroll", lesson_cancel_path(@course.id), method: :delete %>
        <% elsif !@course.Ispremium && !@course.isarchived %>
          <%= link_to "Enrol", lesson_register_path(@course.id), method: :post %>
        <% elsif @course.Ispremium%>
          <%= link_to "Enrol", lesson_paid_register_path(@course.id), method: :post %>
          <div class="absolute bottom-0 left-0 badge badge-primary">Cost: $<%= @course.price %> USD</div>
        <% else %>
          <%= "Registrations closed" %>
        <% end %>
      </div>
    </div>
    <% if @course.Ispremium? || @course.isarchived? %>
      <div class="absolute top-0 left-0 flex mt-3 ml-12 gap-1 badge text-white flex-grow-0 py-1 px-3 w-max bg-gray-800 rounded-xl">You currently do not have access to this Course.</div>
    <% end %>
    <% if action_name != "show" %>
      <%= link_to "Show this course", course, class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <%= link_to 'Edit this course', edit_course_path(course), class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <hr class="mt-6">
    <% end %>
  </div>
</div>