<div class="w-full flex ">
  <div class="mx-auto">

    <!--      LIKE BUTTON-->
    <div class="p-3 flex gap-x-2">
      <div class="flex "></div>
      <%= render '/shared/Components/like' %>
      <%= render '/shared/Components/subscribe' %>
      <%= render '/shared/Components/wish' %>
    </div>


    <section class="w-full">
      <%= render @course %>
    </section>


    <div class="rounded overflow-hidden shadow-lg rounded-b-md fd-cl p-5 bg-white ">
    <strong class="block font-medium mb-1">Students:</strong>
    <% if @students %>
      <ul class="divide-y divide-gray-200">
        <% @students.each do |f| %>
          <a href="<%= user_registration_path %>/<%= (f.id) %>" class="truncate  px-6 py-4 m-1 flex flex-wrap w-48 inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <%= f.email %>
          </a>
        <% end %>
      </ul>
    <% end %>




    <strong class="block font-medium mb-1 mt-12">Educators:</strong>
      <% if @educators %>
        <ul>
          <% @educators.each do |f| %>
            <li class="m-1 flex flex-wrap w-48 inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <%= f.email %>
            </li>
          <% end %>
        </ul>
      <% end %>


<div class="mt-12"></div>
      <%= link_to 'Edit this course', edit_course_path(@course), class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <div class="inline-block ml-2">
        <%= button_to 'Delete this course', course_path(@course), method: :delete, data: { confirm: "Are you sure you want to delete this course?" }, class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
      <%= link_to 'Back to courses', courses_path, class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    </div>
  </div>
</div>

