<div class="w-full flex min-h-screen ">
  <div class="mx-auto min-w-full bg-pink-50 p-5 rounded-3xl">
    <!--     SOCIALS -->
    <div class="p-3 flex gap-x-2 min-w-full ">
      <%= render '/shared/Components/like' %>
      <%= render '/shared/Components/subscribe' %>
      <%= render '/shared/Components/wish' %>
    </div>
    <%= render '/shared/Components/divider', content: 'Course Information' %>
    <!--    COURSE INFO-->
    <section class="relative min-w-full">
      <%= render @course %>
      <!--    TAGS-->
      <div class="absolute top-0 right-0 flex mt-3 mr-12 gap-1 ">
        <% if @course.isarchived? %>
          <div class="badge badge-primary">Archived</div>
        <% end %>
        <% if @course.Ispremium? %>
          <div class="badge badge-secondary">Premium</div>
        <% end %>
        <% if @course.created_at.between?(((Date.today - 14.days).beginning_of_day),(Date.today.end_of_day)) %>
          <div class="badge badge-accent">New</div>
        <% elsif  @course.updated_at.between?(((Date.today - 14.days).beginning_of_day),(Date.today.end_of_day)) %>
          <div class="badge badge-accent">Recently Updated</div>
        <% end %>
      </div>
    </section>
    <%= render '/shared/Components/divider', content: 'Navigation' %>
    <nav class="flex justify-center gap-3">
      <% if policy(@course).edit? %>
        <%= link_to 'Edit this course', edit_course_path(@course), class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        <%= button_to 'Delete this course', course_path(@course), method: :delete, data: { confirm: "Are you sure you want to delete this course?" }, class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <% end %>
      <%= link_to 'Back to courses', courses_path, class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    </nav>
    <%= render '/shared/Components/divider', content: 'Lessons' %>
    <!--    LESSONS-->
    <section class="min-w-full ">
      <div class="bg-white shadow overflow-hidden rounded-md">
        <ul role="list" class="divide-y divide-gray-200 ">
          <!--        CREATE NEW LESSON-->
          <li class=" hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50 bg-blue-700">
            <div class="no-underline text-black ">
              <div class="w-full h-full px-6 py-4 flex justify-center items-center glass btn ">
                <span class="block text-l font-black mb-1"><%= link_to "Create New Lesson", new_lesson_path(@course.id) %></span>
              </div>
            </div>
          </li>
          <!--          List each associated lesson, if there are lessons -->
          <% if @course.Ispremium? || @course.isarchived? %>
            <% bg = "bg-gray-500 hover:bg-gray-700" %>
          <% else %>
            <% bg = "bg-blue-300 hover:bg-blue-600" %>
          <% end %>
          <% if @course.lessons %>
            <% @course.lessons.each do |l| %>
              <li class="  focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50  <%= bg %>">
                <div class="no-underline text-black glass ">
                  <div class="w-full h-full px-6 py-4 flex flex-col justify-center items-center">
                    <% if !@course.Ispremium? %>
                      <%= link_to l.title, lesson_path(l.id), class: "block text-3xl font-black mb-1" %>
                      <div class="flex items-center gap-5">
                        <%= render 'shared/Components/avatar', content: { user: l.user, path: user_path(l.user.id) } %>
                        <%= link_to "Edit", edit_lesson_path(l.id) %>
                      </div>
                    <% else %>
                      <%= link_to l.title, lesson_path(l.id), class: 'block text-3xl font-black mb-1' %>
                      <%= render 'shared/Components/avatar', content: { user: l.user, path: user_path(l.user.id) } %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </section>
    <%= render '/shared/Components/divider', content: 'Further Information' %>
    <!--    FURTHER INFO-->
    <div class="rounded overflow-hidden shadow-lg rounded-b-md fd-cl p-5 bg-white min-w-full mt-12">
      <strong class="block font-medium mb-1">Students:</strong>
      <% if @course.class_list %>
        <ul class="divide-y divide-gray-200">
          <% @course.class_list.each do |f| %>
            <a href="<%= user_registration_path %>/<%= (f.id) %>" class="truncate  px-6 py-4 m-1 flex flex-wrap w-48 inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <%= f.user.email %>
            </a>
          <% end %>
        </ul>
      <% end %>
      <strong class="block font-medium mb-1 mt-12">Educators:</strong>
      <% if @course.class_educator %>
        <ul>
          <% @course.class_educator.each do |f| %>
            <li class="m-1 flex flex-wrap w-48 inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <%= f.user.email %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>